@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #8a8fa3; }
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
img {
  max-width: 100%; }
a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none; }
a:focus,
a:hover {
  text-decoration: none; }
i,
span,
a {
  display: inline-block; }
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #32333c;
  margin: 0px; }
h1 {
  font-size: 60px; }
h2 {
  font-size: 36px; }
h3 {
  font-size: 28px; }
h4 {
  font-size: 22px; }
h5 {
  font-size: 18px; }
h6 {
  font-size: 16px; }
ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #8a8fa3;
  margin: 0px; }
  @media (max-width: 767px) {
    p {
      font-size: 15px; } }
.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }
.section-title .title {
  font-weight: 700;
  font-size: 45px;
  color: #000;
  padding-bottom: 20px; }
  @media (max-width: 767px) {
    .section-title .title {
      font-size: 30px; } }
.header-content {
  height: 100%;
  width: 100%;
  margin-top: 0px;
  position: absolute;
  overflow: hidden;
  background-color: #fbfbfb; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-content {
      height: 550px; } }
  @media (max-width: 767px) {
    .header-content {
      height: 550px; } }
  .header-content .header-shape {
    position: absolute !important; }
    .header-content .header-shape.shape-one {
      top: 0 !important;
      left: 0 !important; }
      @media (max-width: 767px) {
        .header-content .header-shape.shape-one img {
          width: 40px; } }
    .header-content .header-shape.shape-tow {
      top: -18px !important;
      left: 20% !important; }
      @media (max-width: 767px) {
        .header-content .header-shape.shape-tow img {
          width: 40px; } }
    .header-content .header-shape.shape-three {
      top: 0 !important;
      left: 40% !important; }
      @media (max-width: 767px) {
        .header-content .header-shape.shape-three img {
          width: 100px; } }
    .header-content .header-shape.shape-fore {
      top: 28px !important;
      right: 7.6% !important;
      left: auto !important; }
      @media (max-width: 767px) {
        .header-content .header-shape.shape-fore img {
          width: 40px; } }
    .header-content .header-shape.shape-five {
      right: 30px !important;
      bottom: 35% !important;
      left: auto !important;
      top: auto !important; }
      @media (max-width: 767px) {
        .header-content .header-shape.shape-five {
          right: 20px !important;
          bottom: 48% !important; } }
      @media (max-width: 767px) {
        .header-content .header-shape.shape-five img {
          width: 40px; } }
    .header-content .header-shape.shape-six {
      top: 44% !important;
      left: 13% !important;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (max-width: 767px) {
        .header-content .header-shape.shape-six img {
          width: 40px; } }
    .header-content .header-shape.shape-seven {
      left: 30px !important;
      bottom: 50px !important;
      top: auto !important; }
      @media (max-width: 767px) {
        .header-content .header-shape.shape-seven {
          left: 15px !important;
          bottom: 25px !important; } }
      @media (max-width: 767px) {
        .header-content .header-shape.shape-seven img {
          width: 100px; } }
    .header-content .header-shape.shape-eight {
      left: 90px !important;
      bottom: 140px !important;
      top: auto !important; }
      @media (max-width: 767px) {
        .header-content .header-shape.shape-eight {
          left: 50px !important;
          bottom: 70px !important; } }
      @media (max-width: 767px) {
        .header-content .header-shape.shape-eight img {
          width: 100px; } }
    .header-content .header-shape.shape-nine {
      left: 50% !important;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 28px !important;
      top: auto !important; }
      @media (max-width: 767px) {
        .header-content .header-shape.shape-nine {
          left: 65% !important;
          bottom: 20px !important; } }
      @media (max-width: 767px) {
        .header-content .header-shape.shape-nine img {
          width: 100px; } }
    .header-content .header-shape.shape-ten {
      right: 30px !important;
      bottom: 5px !important;
      left: auto !important;
      top: auto !important; }
      @media (max-width: 767px) {
        .header-content .header-shape.shape-ten {
          right: 0px !important;
          bottom: 140px !important; } }
      @media (max-width: 767px) {
        .header-content .header-shape.shape-ten img {
          width: 100px; } }
.header-content-right {
  position: relative; }
  .header-content-right .sub-title {
    font-size: 30px;
    animation: change 10s linear 0s infinite;
    text-transform: uppercase;
    padding-bottom: 15px; }
    @media (max-width: 767px) {
      .header-content-right .sub-title {
        font-size: 24px; }}
	@keyframes change {
				0% {
					color: #F44336;
				}
				6% {
					color: #E91E63;
				}
				12% {
					color: #9C27B0;
				}
				18% {
					color: #3F51B5;
				}
				24% {
					color: #2196F3;
				}
				30% {
					color: #00BCD4;
				}
				42% {
					color: #009688;
				}
				48% {
					color: #4CAF50;
				}
				54% {
					color: #CDDC39;
				}
				60% {
					color: #FFEB3B;
				}
				66% {
					color: #FFC107;
				}
				72% {
					color: #FF9800;
				}
				84% {
					color: #795548;
				}
				90% {
					color: #795548;
				}
				100% {
					color: #9E9E9E;
				}
			}
  .header-content-right .title {
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 15px; }
    @media (max-width: 767px) {
      .header-content-right .title {
        font-size: 38px; } }
  .header-content-right p {
    padding-bottom: 40px; }
.header-image {
  max-width: 430px;
  margin: 0 auto;
  position: relative; }
  .header-image::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 82%;
    border: 20px solid #754ef9;
    border-bottom: 0;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  .header-image::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    background-color: #754ef9;
    left: 0;
    bottom: 58px;
    z-index: 11; }
  .header-image img {
    position: relative;
    z-index: 5; }
.header-social {
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%; }
  .header-social .header-social-icon {
    position: relative; 
	top: 50px;}
    .header-social .header-social-icon::before {
      position: absolute;
      content: '';
      width: 0%;
      height: 2px;
      background-color: #754ef9;
      left: -102.5%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
    .header-social .header-social-icon ul li {
      display: inline-block;
      margin-left: 13px; }
      .header-social .header-social-icon ul li:first-child {
        margin-left: 0; }
      .header-social .header-social-icon ul li a {
        color: #ccc;
        font-size: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        border: 1px solid #ccc;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
        text-align: center; }
        .header-social .header-social-icon ul li a:hover {
          color: #fff;
          background-color: #dbdbdb;
          border-color: #dbdbdb; }