.icon, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}

.downlink, .footer-title, .more, .p, .title {
	text-align: center
}

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}

body, html {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	font-family: 'Helvetica Neue', Helvetica, STHeiTi, sans-serif;
	line-height: 1
}

ol, ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
	content: '';
	content: none
}

table {
	border-spacing: 0;
	border-collapse: collapse
}

a, button, input {
	-webkit-tap-highlight-color: transparent
}

a, img {
	-webkit-touch-callout: none
}

html {
	font-size: 16px
}

.container {
	margin-top: 6.4375rem
}

.icon {
	width: 88px;
	height: 88px;
	margin: 0 auto;
}

.title {
	font-size: 1.25rem;
	margin-top: 20px;
}

.more a, .p {
	font-size: .875rem
}

.p {
	line-height: 1.25;
	margin-top: 1rem;
	color: #878B99;
}

.footer {
	position: fixed;
	right: 0;
	bottom: 37.3px;
	left: 0
}

.footer-title {
	color: #000
}